
@import "https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:400,700";
html {
}
body {
    font-family: roboto,sans-serif;
    margin: 0;
}
.container {
}
.container__section1 {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(234, 130, 130, 0.9) 0%, rgba(234, 130, 130, 0.9) 1%, rgba(239, 216, 137, 0.9) 100%), url("../images/big.jpg");
    background-origin: padding-box, padding-box;
    background-position: 0 0%, 0 0;
    background-repeat: repeat, repeat;
    background-size: cover;
}
.section1__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.container__header {
    padding-top: 30px;
}
.clearfix {
    clear: both;
}
.header {
    display: table;
    font-family: "Montserrat",sans-serif;
    width: 100%;
}
.header__logo {
    display: table-cell;
    padding: 0 0 0 8.22%;
    vertical-align: bottom;
    width: 10%;
}
.logo {
}
.logo__link {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.header__menu {
    display: table-cell;
    padding: 0 6.48% 0 0;
    text-align: right;
    width: 90%;
}
.menu {
    margin: 0;
}
.menu__item {
    display: inline-block;
    margin-right: 23px;
}
.menu__link:hover {
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
}
.menu__link {
    border-bottom: 3px solid transparent;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.container__welcome {
}
.welcome {
    text-align: center;
}
.welcome__heading {
    color: #fff;
    font-family: "kaushan script";
    font-size: 72px;
    margin: 13% 0 0;
}
.welcome__welcoming {
    border-bottom: 2px solid transparent;
    color: #fff;
    font-family: montserrat;
    font-size: 150px;
    font-weight: 700;
    letter-spacing: -13px;
    line-height: 126px;
    margin: 17px 0 0;
    text-transform: uppercase;
}
.welcome__btn {
    border: 3px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
.welcome__btn:hover {
    background-color: #fff;
    color: #efc788;
}
.container__nav {
    margin: 0;
}
.nav {
    margin: 123px 0 0;
}
.nav__item {
    border-top: 3px solid #fff;
    display: inline-block;
    margin-left: 2%;
    padding: 14px 0 25px;
    width: 20%;
}
.nav__link {
    color: #fff;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__nmbr {
    font-size: 24px;
    font-weight: 700;
}
.menu__busket-link {
    background: rgba(0, 0, 0, 0) url("../images/busket.png") no-repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    height: 15px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 20px;
}
.menu__glass-link {
    background: rgba(0, 0, 0, 0) url("../images/boo.png") repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    height: 18px;
    padding: 0;
    position: relative;
    top: 5px;
    width: 18px;
}
.menu__glass-link:hover {
    border-bottom: medium none;
}
.menu__busket-link:hover {
    border-bottom: medium none;
}
.menu__item:last-child {
    margin-right: 0;
}
.welcome__ghostly-dash {
    border-bottom: 3px solid #fff;
    display: block;
    margin: 50px auto;
    width: 64px;
}
